@{ 
  ViewData["Title"] = "PikeMarketShopper - Login";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PikeMarketShopper.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />

@using (Html.BeginForm())
{
  <h5>@Html.LabelFor(m => m.Email)</h5>
  <p>@Html.TextBoxFor(m => m.Email)</p>
  <h5>@Html.LabelFor(m => m.Password)</h5>
  <p>@Html.PasswordFor(m => m.Password)</p>
  <input type="submit" value="Log In" />
}
<hr />

<h4>@Html.ActionLink("Create a new account", "Register", "Account") or @Html.ActionLink("Return to products", "Index", "Products")</h4>