@{
  ViewData["Title"] = "PikeMarketShopper - New Product";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PikeMarketShopper.Models.Product

<h2>Add a New Product</h2>
<div>
  @using (Html.BeginForm())
  {
    <h5>@Html.LabelFor(model => model.ProductTypeId)</h5>
    <p>@Html.DropDownList("ProductTypeId")</p>
    <h5>@Html.LabelFor(model => model.Name)</h5>
    <p>@Html.TextBoxFor(model => model.Name)</p>
    <h5>@Html.LabelFor(model => model.Description)</h5>
    <p>@Html.TextBoxFor(model => model.Description)</p>
    <h5>@Html.LabelFor(model => model.Size)</h5>
    <p>@Html.TextBoxFor(model => model.Size)</p>
    <h5>@Html.LabelFor(model => model.Price)</h5>
    <p>@Html.TextBoxFor(model => model.Price)</p>
    <h5>@Html.LabelFor(model => model.Image)</h5>
    <p>@Html.TextBoxFor(model => model.Image)</p>
    <h5>@Html.LabelFor(model => model.SentimentValue)</h5>
    <p>@Html.TextBoxFor(model => model.SentimentValue)</p>
    <p><input type="submit" name="new-product" value="Add Product" /></p>
    <hr />

    <h4>@Html.ActionLink("Return to Product List", "Index")</h4>
  }
</div>
