@{
  ViewData["Title"] = "PikeMarketShopper - Product Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PikeMarketShopper.Models;
@model dynamic

<h1>Shop for Products</h1>

<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="../img/Pigs.jpg" alt="High Stalls at Market">
      <div class="caption">
        <h2>Product Types</h2>
        <ul>
          @foreach (var listProductType in Model.ProductTypes)
          {
            <li>@listProductType.Name</li>
          }
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="../img/PotatoesResized.jpg" alt="High Stalls at Market">
      <div class="caption">
        <h2>Products</h2>
        <ul>
          @foreach (var listProduct in Model.Products)
          {
            <li>@listProduct.Description: @listProduct.Name | @Html.ActionLink("View Details", "Details", new { id = listProduct.ProductId })</li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>


@*To be displayed only when user is administrator*@

</div>
@if (User.IsInRole("Administrator"))
{
<hr />
<div class="container" id="administrative">
  <h3>System Administrative Tools - Product Management</h3>
  <ul>
    @foreach (var listProduct in Model.Products)
    {
      <li>@listProduct.Name | @Html.ActionLink("Edit", "Edit", new { id = listProduct.ProductId }) | @Html.ActionLink("Delete", "Delete", new { id = listProduct.ProductId })</li>
    }
  </ul>
  <p>@Html.ActionLink("Add a new product", "Create")</p>
</div>
}